[user]
	email = nicholasrsmith1600@gmail.com
	name = Nicholas R. Smith

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[core]
	editor = nvim
	pager = delta
	attributesFile = ~/.gitattributes

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictStyle = "diff3"

[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[diff]
	colorMoved = default
