# C/C++
*.{c,h,cc,hh,cpp,hpp,cxx,hxx,c++,h++,mpp,cppm,ixx,tcc} merge=mergiraf
# C#
*.cs merge=mergiraf
*.dart merge=mergiraf
# Devicetree source
*.dts merge=mergiraf
# Elixir
*.{ex,exs} merge=mergiraf
*.go merge=mergiraf
# HCL
*.{hcl,tf,tfvars} merge=mergiraf
# Haskell
*.hs merge=mergiraf
# HTML
*.{html,html} merge=mergiraf
*.ini merge=mergiraf
*.java merge=mergiraf
# JavaScript
*.{js,jsx,mjs} merge=mergiraf
*.json merge=mergiraf
# Kotlin
*.kt merge=mergiraf
*.lua merge=mergiraf
*.md merge=mergiraf
# OCaml
*.{ml,mli} merge=mergiraf
# Nix
*.{nix} merge=mergiraf
# PHP
*.{php,phtml} merge=mergiraf
# Java properties
*.properties merge=mergiraf
*.py merge=mergiraf
# Ruby
*.rb merge=mergiraf
*.rs merge=mergiraf
# Scala
*.{scala,sbt} merge=mergiraf
# Solidity
*.sol merge=mergiraf
# SystemVerilog
*.{sv,*.svh} merge=mergiraf
*.toml merge=mergiraf
# TypeScript
*.{ts,tsx} merge=mergiraf
# XML
*.{xhtml,xml} merge=mergiraf
# YAML
*.{yml,yaml} merge=mergiraf
