window {
	font-size: 30px;
	font-family: "IntoneOne Nerd Font";
	background-color: rgba(19, 19, 19, 0);
	color: #b18840;
}

tooltip {
	font-size: 24px;
	background-color: #131313;
}

tooltip * {
	color: #b18840;
	text-shadow: none;
}

.modules-left {
	background-color: #131313;
	padding-left: 5px;
	margin: 5px 5px 0px 5px;
	border-radius: 15px;
}

.modules-center {
	background-color: #131313;
	margin: 5px 0px 0px 0px;
	border-radius: 15px;
}

.modules-right {
	background-color: #131313;
	margin: 5px 5px 0px 0px;
	border-radius: 15px;
}

#custom-home {
	color: #89B4FA;
	font-size: 40px;
	padding: 0px 25px 0px 15px;
}

#custom-pipe {
	color: #89B4FA;
	padding-right: 5px;
	padding-bottom: 3px;
}

/* Style first workspace specially */
#workspaces button:nth-child(1) label {
	padding: 0px 15px 0px 15px;
}

#workspaces button label {
	padding: 0px 15px 0px 15px;
}

#workspaces button.visible {
	color: #89B4FA;
	border-bottom: 5px solid #89B4FA;
	padding-top: 5px;
}

#workspaces button {
	color: #b18840;
	padding: 0 5px;
	background: transparent;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #89B4FA;
	border: 0px;
	border-bottom: 5px solid #89B4FA;
	padding-top: 5px;
}

#window {
	padding: 7px 25px 10px 10px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	color: #b18840;
}

#clock.1 {
	padding: 10px 10px 10px 15px;
}

#clock.2 {
	padding: 10px 10px 10px 5px;
}

#clock.3 {
	padding: 10px 15px 10px 5px;
}

#tray {
	padding: 10px 5px 10px 15px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 10px 10px;
}

#bluetooth {
	padding: 10px 20px 10px 20px;
}

#network {
	padding: 10px 30px 10px 15px;
}

#custom-power {
	padding: 10px 30px 10px 15px;
}
