window {
	font-size: 30px;
	font-family: "IntoneOne Nerd Font";
	background-color: rgba(19, 19, 19, 0);
	color: #b18840;
}

tooltip {
	color: #b18840;
	background-color: #131313;
	text-shadow: none;
	opacity: 0.95;
}

tooltip * {
	color: #b18840;
	text-shadow: none;
}

.modules-left {
	background-color: #131313;
	margin: 5px 0px 0px 5px;
	border-radius: 15px;
}

.modules-center {
	background-color: #131313;
	margin: 5px 0px 0px 0px;
	border-radius: 15px;
}

.modules-right {
	background-color: #131313;
	margin: 5px 5px 0px 0px;
	border-radius: 15px;
}

#workspaces button {
	color: #b18840;
	border-radius: 10px;
}

#workspaces button.focused {
	color: #cc922d;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #cc922d;
	border: #cc922d;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	color: #b18840;
}

#clock.1 {
	padding: 10px 5px 10px 10px;
}

#clock.2 {
	padding: 10px 5px 10px 5px;
}

#clock.3 {
	padding: 10px 10px 10px 5px;
}

#tray {
	padding: 10px 5px 10px 5px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 5px 10px;
}

#bluetooth {
	padding: 10px 20px 10px 15px;
}

#network {
	padding: 10px 20px 10px 15px;
}

#custom-power {
	padding: 10px 25px 10px 15px;
}
