* {
	font-size: 24px;
	font-family: "IntoneOne Nerd Font";
}

window#waybar {
	background: #131313;
	color: #b18840;
}

tooltip {
	color: #b18840;
	background-color: #131313;
	text-shadow: none;
	opacity: 0.95;
}

tooltip * {
	color: #b18840;
	text-shadow: none;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #0f0f0f;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #131313;
	background: #0f0f0f;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#bluetooth,
#network,
#custom-power,
#tray {
	background: #0f0f0f;
}

#workspaces button {
	padding: 0 2px;
	color: #b18840;
}

#workspaces button.focused {
	color: #cc922d;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #cc922d;
	border: #cc922d;
	padding: 0 3px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	color: #b18840;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
